<p style="margin-top:10px; margin-bottom: 0px;"><b>CATEGORIES:</b></p>
{% comment %}
  Dynamically generate list of links to all category pages
{% endcomment %}
{% assign pages_list = site.pages %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.layout == "category" %}
      {% if node.projectCatetory != true %}
        <a class="category-link {% if page.url == node.url %} active{% endif %}"
            href="{{ site.baseurl }}{{ node.url }}.html">{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
