---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
  //font-size: $custom-font-size;
}

.project-client-logo-image {
  float:right;
  padding: 5px;
  min-height: 80px;
  width: auto;
  max-width: 200px
}

.project-client-logo-image-no-min-height {
  min-height: 0 !important;
}

.project-banner-image {

}

.project-image-float-right {
  float: right;
  padding: 5px;
  margin-left: 10px;
  border: 0;
}

.project-image-float-left {
  float: left;
  padding: 5px;
  margin-right: 10px;
}

.project-image-width-50 {
  width: 50%;
}

.project-image-width-40 {
  width: 40%;
}

.project-image-width-25 {
  width: 25%;
}

// --- TAGS ---

.tags-list {
  a {
    margin-right: 0.5em;
    white-space: nowrap;
    opacity: 0.75;

    .tag-count {
      background: $link-color;
      color: rgba(255, 255, 255, 0.8);
      margin-left: 0.25em;
      border-radius: 1000px;
      font-size: 0.75em;
      padding-left: 0.6em;
      padding-right: 0.6em;
    }

    // No underline because it looks weird with badge
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

@keyframes posts-for-tag-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Display only if targeted
.posts-for-tag {
  display: none;

  &:target {
    display: block;
    animation: posts-for-tag-fade-in 0.6s ease-in-out;
  }
}
