---
layout: default
---

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ page.card1-image}}" alt="Card image cap" style="padding: 10px">
    <div class="card-body">
      <h4 class="card-title">{{ page.card1-title }}</h4>
      <p class="card-text">{{ page.card1-text }}</p>
      {% if page.card1-link %}
      	<a href="{{ page.card1-link }}" class="btn btn-primary btn-sm" style="background-color: #00796B;">{{ page.card1-link-text }}</a>
      {% endif %}
      <p class="card-text"><small class="text-muted">{{ page.card1-update }}</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ page.card2-image}}" alt="Card image cap" style="padding: 10px;">
    <div class="card-body">
      <h4 class="card-title">{{ page.card2-title }}</h4>
      <p class="card-text">{{ page.card2-text }}</p>
      {% if page.card2-link %}
      	<a href="{{ page.card2-link }}" class="btn btn-primary btn-sm"  style="background-color: #00796B;">{{ page.card2-link-text }}</a>
      {% endif %}
      <p class="card-text"><small class="text-muted">{{ page.card2-update }}</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ page.card3-image}}" alt="Card image cap" style="padding: 10px;">
    <div class="card-body">
      <h4 class="card-title">{{ page.card3-title }}</h4>
      <p class="card-text">{{ page.card3-text }}</p>
      {% if page.card3-link %}
      	<a href="{{ page.card3-link }}" class="btn btn-primary btn-sm"  style="background-color: #00796B;">{{ page.card3-link-text }}</a>
      {% endif %}
      <p class="card-text"><small class="text-muted">{{ page.card3-update }}</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ page.card4-image}}" alt="Card image cap" style="padding: 10px;">
    <div class="card-body">
      <h4 class="card-title">{{ page.card4-title }}</h4>
      <p class="card-text">{{ page.card4-text }}</p>
      {% if page.card4-link %}
      	<a href="{{ page.card4-link }}" class="btn btn-primary btn-sm"  style="background-color: #00695c;">{{ page.card4-link-text }}</a>
      {% endif %}
      <p class="card-text"><small class="text-muted">{{ page.card4-update }}</small></p>
    </div>
  </div>
</div>
