<html>
    <head>
	<link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        {% include topmenu.html %}
        <br>
    	<div class="container">	

            <div class="row">

                <div class="col-md-2 col-lg-2">
                    <h2>{{ page.title }}: </h2>
                </div>

                <div class="col-md-8 col-lg-8">
                    {{content}}
                </div>

                <div class="col-md-2 col-lg-2"></div>

            </div>

    	</div>
	<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    </body>
</html>
