---
layout: resume_default
---

<h4>{{ page.title }}</h4>

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="projects-list">
  {% assign category = page.category | default: page.title %}
  {% for item in site.projects %}
    {% assign categories = item.categories %}
    {% if categories contains category %}
      <li>
        <h6>
          <a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a>
          <small><i>Additional info</i></small>
        </h6>
      </li>
    {% endif %}
  {% endfor %}
</ul>
